
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>God-Zan解密</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script  src="../static/js/index.js"></script>
</head>
<body>
<div style="text-align:center;clear:both;">
<br/>
</div>
  <div class="wrapper">
  <div class="header-wrap">
    <h1>God-Zan在线加解密</h1>
  </div>
</div>

<br/><br/>

<div class='wrapper'>
  <div role='button' class='retro-btn lg'>
    <a href="/crypto/base/" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='BASE全家桶'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg primary'>
    <a href="/crypto/hexAscii/" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Hex编码'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
<div style="display: inline-block; width: 30px"></div>


<div class='wrapper'>
  <div role='button' class='retro-btn lg info'>
    <a href="/crypto/urlCode/" class='btn'>
      <span class='btn-inner '>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="URL编码">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
  


<br/>

<div class='wrapper'>
  <div role='button' class='retro-btn lg success'>
    <a href="/crypto/morse/" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Morse莫尔斯电码'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg primary'>
    <a href="/crypto/converter/" class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Converter大数据进制转换'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg warning'>
    <a href="/crypto/caesar/"class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Caesar凯撒加解密'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<br />

<div class='wrapper'>
  <div role='button' class='retro-btn lg info'>
    <a href="/crypto/fence/" class='btn'> 
      <span class='btn-inner '>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Fence栅栏加解密">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>




<div class='wrapper'>
  <div role='button' class='retro-btn lg danger'>
    <a href="/crypto/rsa/"class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="RSA系列">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
    <div role='button' class='retro-btn lg info'>
      <a href="crypto/vigenere/"class='btn'> 
        <span class='btn-inner'>
          <span class='content-wrapper'>
            <span class='btn-content'>
              <span class='btn-content-inner' label="维吉尼亚/AutoKey">
              </span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>

<br />


<div class='wrapper'>
  <div role='button' class='retro-btn lg warning'>
    <a href="/crypto/bacon/"class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Baconian培根加解密">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg success'>
    <a href="/crypto/jsfuck/"class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="JSFUCK加解密">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
    <div role='button' class='retro-btn lg'>
      <a href="https://github.com/Kit4y/Crypto-Tools" class='btn'>
        <span class='btn-inner'>
          <span class='content-wrapper'>
            <span class='btn-content'>
              <span class='btn-content-inner' label="项目github地址">
              </span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>



</body>

</html>
