
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>God-Zan解密</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script  src="../static/js/index.js"></script>
</head>
<body>
<div style="text-align:center;clear:both;">
<br/>
</div>
  <div class="wrapper">
  <div class="header-wrap">
    <h1>God-Zan在线加解密</h1>
  </div>
</div>

<br/><br/>

<div style="display: inline-block; width: 30px"></div>
<div class='wrapper'>
  <div role='button' class='retro-btn lg'>
    <a href="/crypto/base" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='BASE全家桶'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg primary'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Hex and AscII转换'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
<div style="display: inline-block; width: 30px"></div>


<div class='wrapper'>
  <div role='button' class='retro-btn lg info'>
    <a class='btn'> 
      <span class='btn-inner '>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="URL编码">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
  

<div style="display: inline-block; width: 30px"></div>

<br/>

<div class='wrapper'>
  <div role='button' class='retro-btn lg success'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Morse莫尔斯电码'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg primary'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Converter进制转换'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg warning'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label='Caesar凯撒加解密'>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<br />

<div class='wrapper'>
  <div role='button' class='retro-btn lg info'>
    <a class='btn'> 
      <span class='btn-inner '>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Fence栅栏加解密">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg secondary'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="ASCII解码">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg danger'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="RSA系列">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<br />

<div class='wrapper'>
  <div role='button' class='retro-btn lg warning'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Baconian培根加解密">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg success'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="JSFUCK加解密">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

<div style="display: inline-block; width: 30px"></div>

<div class='wrapper'>
  <div role='button' class='retro-btn lg info'>
    <a class='btn'> 
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="Brainfuck加解密">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>


<br />

<div class='wrapper'>
  <div role='button' class='retro-btn lg warning'>
    <a href="https://github.com/Kit4y/Crypto-Tools" class='btn'>
      <span class='btn-inner'>
        <span class='content-wrapper'>
          <span class='btn-content'>
            <span class='btn-content-inner' label="项目github地址">
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>

</body>

</html>
