<!DOCTYPE html>
<html xmlns:>
<head>

  <title>demo</title>
     {% load static %}
  <meta charset="utf-8">
 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <script  src="/static/js/jquery.min.js"></script>
</head>
<style>
textarea {
  /*font-family:Consolas,'Lucida Console','DejaVu Sans Mono',monospace;*/
  font-size: 12pt;
  max-width: 95%;
  width: 95%;
  height: 250px;
  border: 3px double #CD00CD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #FFFFFF; /* Old browsers */
}
body{
  background:#2F2F2F ;
  background-size:100%;
}

::-webkit-input-placeholder {
  text-align: center;
  line-height: 250px;
  font-size: 16pt;
  color: #000000;
}
h1{

color:#76EE00;
}
.conter{
text-align:center;
position: fixed;
_position: absolute;
left: 20%;
width: 1000px;
height:618px;
}

</style>
<body>
 <div class="conter" >
        <h1>摩尔斯密码本
        </h1>




        <div class="jumbotron">

              <h5>一、26个字母的莫尔斯电码加密</h5>
	        <table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
					</tr>
					<tr>
						<th>A</th>
						<td>．━</td>
						<th>B</th>
						<td>━ ．．．</td>
						<th>C</th>
						<td>━ ．━ ．</td>
						<th>D</th>
						<td>━ ．．</td>
					</tr>
					<tr>
						<th>E</th>
						<td>．</td>
						<th>F</th>
						<td>．．━ ．</td>
						<th>G</th>
						<td>━ ━ ．</td>
						<th>H</th>
						<td>．．．．</td>
					</tr>
					<tr>
						<th>I</th>
						<td>．．</td>
						<th>J</th>
						<td>．━ ━ ━</td>
						<th>K</th>
						<td>━ ．━</td>
						<th>L</th>
						<td>．━ ．．</td>
					</tr>
					<tr>
						<th>M</th>
						<td>━ ━</td>
						<th>N</th>
						<td>━ ．</td>
						<th>O</th>
						<td>━ ━ ━</td>
						<th>P</th>
						<td>．━ ━ ．</td>
					</tr>
					<tr>
						<th>Q</th>
						<td>━ ━ ．━</td>
						<th>R</th>
						<td>．━ ．</td>
						<th>S</th>
						<td>．．．</td>
						<th>T</th>
						<td>━</td>
					</tr>
					<tr>
						<th>U</th>
						<td>．．━</td>
						<th>V</th>
						<td>．．．━</td>
						<th>W</th>
						<td>．━ ━</td>
						<th>X</th>
						<td>━ ．．━</td>
					</tr>
					<tr>
						<th>Y</th>
						<td>━ ．━ ━</td>
						<th>Z</th>
						<td>━ ━ ．．</td>
						<th>　</th>
						<td>　</td>
						<th>　</th>
						<td>　</td>
					</tr>
				</tbody>
			</table>
	        <h5>二、数字的莫尔斯电码加密</h5>
	        <table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
					</tr>
					<tr>
						<th>0</th>
						<td>━ ━ ━ ━ ━</td>
						<th>1</th>
						<td>．━ ━ ━ ━</td>
						<th>2</th>
						<td>．．━ ━ ━</td>
						<th>3</th>
						<td>．．．━ ━</td></tr>
					<tr>
						<th>4</th>
						<td>．．．．━</td>
						<th>5</th>
						<td>．．．．．</td>
						<th>6</th>
						<td>━ ．．．．</td>
						<th>7</th>
						<td>━ ━ ．．．</td></tr>
					<tr>
						<th>8</th>
						<td>━ ━ ━ ．．</td>
						<th>9</th>
						<td>━ ━ ━ ━ ．</td>
						<th>　</th>
						<td>　</td>
						<th>　</th>
						<td>　</td>
					</tr>
				</tbody>
			</table>
	        <h5>三、标点符号的莫尔斯电码加密</h5>
	        <table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td>
						<th width="8%"><strong>字符</strong></th>
						<td width="17%"><strong>电码符号</strong></td></tr>
					<tr>
						<th title="句号">.</th>
						<td title="句号">．━ ．━ ．━</td>
						<th title="冒号">:</th>
						<td title="冒号">━ ━ ━ ．．．</td>
						<th title="逗号">,</th>
						<td title="逗号">━ ━ ．．━ ━</td>
						<th title="分号">;</th>
						<td title="分号">━ ．━ ．━ ．</td></tr>
					<tr>
						<th title="问号">?</th>
						<td title="问号">．．━ ━ ．．</td>
						<th title="等号">=</th>
						<td title="等号">━ ．．．━</td>
						<th title="省略符">'</th>
						<td title="省略符">．━ ━ ━ ━ ．</td>
						<th title="斜线">/</th>
						<td title="斜线">━ ．．━ ．</td></tr>
					<tr>
						<th title="叹号">!</th>
						<td title="叹号">━ ．━ ．━ ━</td>
						<th title="连字号">━ </th>
						<td title="连字号">━ ．．．．━</td>
						<th title="下划线">_</th>
						<td title="下划线">．．━ ━ ．━</td>
						<th title="双引号">"</th>
						<td title="双引号">．━ ．．━ ．</td></tr>
					<tr>
						<th title="前括号">(</th>
						<td title="前括号">━ ．━ ━ ．</td>
						<th title="后括号">)</th>
						<td title="后括号">━ ．━ ━ ．━</td>
						<th title="美元">$</th>
						<td title="美元">．．．━ ．．━</td>
						<th title="">&amp;</th>
						<td title="">． ．．．</td></tr>
					<tr>
						<th title="">@</th>
						<td title="">．━ ━ ．━ ．</td>
						<th>　</th>
						<td>　</td>
						<th>　</th>
						<td>　</td>
						<th>　</th>
						<td>　</td>
					</tr>
				</tbody>
			</table>

	  <a class="btn btn-danger " href="/">返回主页</a>


      </div>
</div>

</body>

</html>